// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic,
"Hiragino Kaku GothicProN", Meiryo, sans-serif;
$font-size-base: 0.9rem;
$headings-line-height: 1.5;
$line-height-base: 1.65;

// Colors
$theme-colors: (
  "secondary": #6c757d,
  "success": #198754,
  "orange": #ffc578,
  "danger": #dc3545,
  "cinnamon": #AD6820,
  "light": #f8f9fa,
  "dark": #212529,
);
$gray-dark: #546E7A;

//modal
$modal-inner-padding: 30px;
$modal-title-padding: 30px;
