// Body
$body-bg: #FAF0E6;

// Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic,
"Hiragino Kaku GothicProN", Meiryo, sans-serif;
$font-size-base: 0.9rem;
$headings-line-height: 1.5;
$line-height-base: 1.65;

// Colors
$success: #82ad24;
$orange: #f28c00;
$gray-dark: #546E7A;
$theme-colors: (
  "secondary": #6c757d,
  "success": $success,
  "orange": $orange,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #212529,
);

//modal
$modal-inner-padding: 30px;
$modal-title-padding: 30px;
