# Docker
.env

# Laravel
/src/node_modules
/src/public/css
/src/public/js
/src/public/hot
/src/public/mix-manifest.json
/src/public/storage
/src/storage/*.key
/src/vendor
/src/.env
/src/.env.backup
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log

.idea
